/*
 * mapView Stylesheet file.
 */
#AnchorPane:hover{
        -fx-background-color: transparent;
        -fx-background-image: url("img/grid.png");
        -fx-background-repeat: repeat;   
        -fx-background-position: center center;
}
